@charset "UTF-8";
/* Fonts  Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
/* Fonts Manrope */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}
/* Fonts Plus Jakarta Sans */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 100 800;
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}
/* Fonts Public Sans */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf") format("truetype");
}
:root {
  --font-family: "Manrope";
  --second-family: "Inter";
  --font4: "Public Sans", sans-serif;
  --font6: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: var(--second-family), sans-serif;
}

/* Базовые стили */
.highlight--purple {
  color: #6c5fbc;
}

.price--cents {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 156%;
  color: #8e97a6;
}

.badge.badge-healthy {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #daa31a;
  background: #f7edd0;
  padding: 6px 8px;
}

.badge.badge-trending {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fb471d;
  background: #f7c5ba;
  padding: 6px 8px;
}

.badge.badge-supreme {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #309d5b;
  background-color: rgba(51, 172, 100, 0.2);
  padding: 6px 8px;
}

/* Добавить ресторан в избранное */
.restaurant-bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 16px;
  right: 24px;
  border: none;
  border-radius: 50%;
  background-color: #dbd9ee;
  transition: background-color 0.2s;
}
.restaurant-bookmark::after {
  display: inline-block;
  content: "";
  max-width: 16px;
  max-height: 21px;
  background: url("../icons/bookmark.svg") no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.restaurant-bookmark:hover {
  background-color: #6c5fbc;
}
.restaurant-bookmark:hover::after {
  background: url("../icons/bookmark_white.svg") no-repeat;
}

/* Добавить блюдо в любимое */
.dish-favorite {
  position: absolute;
  top: 14px;
  right: 12px;
  border: none;
  border-radius: 50%;
  background: inherit;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}
.dish-favorite::after {
  display: inline-block;
  content: "";
  max-width: 22px;
  max-height: 19px;
  background: url("../icons/heart.svg") no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dish-favorite:hover {
  background-color: #f7c5ba;
}

/* Добавить блюдо в корзину */
.add-to-cart {
  position: absolute;
  bottom: 26px;
  right: 24px;
  border: none;
  border-radius: 9px;
  background-color: #323142;
  width: 44px;
  height: 40px;
  transition: background-color 0.2s;
}
.add-to-cart::after {
  display: inline-block;
  content: "";
  max-width: 16px;
  max-height: 16px;
  background: url("../icons/plus.svg") no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.add-to-cart:hover {
  background-color: #6c5fbc;
}

.view-all {
  position: relative;
  z-index: 1; /* Чтобы тень не перекрывала текст */
  margin-top: 65px;
  padding-right: 40px;
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 226%;
  letter-spacing: -0.01em;
  color: #acadb9;
}
.view-all::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/gray_right_arrow.svg") no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-35%);
  transition: transform 0.2s;
}
.view-all:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.view-all:hover::after {
  transform: translateX(8px) translateY(-35%);
}

.nav {
  padding: 1.5rem 0;
  border-bottom: 1px solid #cbcbcb;
}
.nav .nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__left-side {
  display: flex;
  gap: 72px;
}
.nav .nav__left-side .nav__logo {
  position: relative;
  padding-left: 55px;
  font-family: var(--font-family), sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  color: #6c5fbc;
  cursor: pointer;
}
.nav .nav__left-side .nav__logo::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px; /* Добавлено свойство height */
  background: url("../../icon.svg") no-repeat;
  position: absolute;
  top: 50%;
  right: 75px;
  transform: translateY(-45%);
}
.nav .nav__left-side .nav__menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  gap: 38px;
}
.nav .nav__left-side .nav__menu .menu__item {
  font-family: var(--second-family), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #606060;
  cursor: pointer;
}
.nav .nav__left-side .nav__menu .menu__item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.nav .nav__right-side {
  display: flex;
  gap: 12px;
}
.nav .nav__right-side .nav__login {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #606060;
  background-color: inherit;
  border: none;
  border-radius: 17px;
  padding: 17px 26px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.nav .nav__right-side .nav__login:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav .nav__right-side .nav__sign-up {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #f9f9f9;
  background: #6c5fbc;
  border: none;
  border-radius: 17px;
  padding: 17px 26px;
  cursor: pointer;
  transition: background 0.2s;
}
.nav .nav__right-side .nav__sign-up:hover {
  background: #5a4aa3;
}

.header__wrapper {
  display: flex;
  padding-top: 120px;
  padding-bottom: 130px;
}
.header__wrapper .header__left-column .header__hero-text {
  padding-left: 76px;
  font-family: var(--font-family), sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: rgba(32, 31, 31, 0.2);
  position: relative;
}
.header__wrapper .header__left-column .header__hero-text::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 0;
  border: 1px solid rgba(32, 31, 31, 0.2);
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header__wrapper .header__left-column .header__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  text-transform: capitalize;
  color: #201f1f;
}
.header__wrapper .header__left-column .header__subtitle {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #676767;
  opacity: 0.7;
  margin-bottom: 54px;
}
.header__wrapper .header__left-column .header__buttons {
  display: flex;
  gap: 18px;
}
.header__wrapper .header__left-column .header__buttons .header__btn--primary {
  border-radius: 12px;
  height: 59px;
  padding: 0 28px;
  background: #6c5fbc;
  border: none;
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  transition: background 0.3s;
}
.header__wrapper .header__left-column .header__buttons .header__btn--primary:hover {
  background: #5a4aa3;
}
.header__wrapper .header__left-column .header__buttons .header__btn--secondary {
  border-radius: 12px;
  height: 59px;
  padding: 0 28px;
  background: inherit;
  border: 1.5px solid #6c5fbc;
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #6c5fbc;
  transition: background 0.3s;
}
.header__wrapper .header__left-column .header__buttons .header__btn--secondary:hover {
  background: #6c5fbc;
  color: #fff;
}
.header__wrapper .header__left-column .header__reviews {
  display: flex;
  gap: 12px;
  margin-top: 54px;
  width: 350px;
  overflow: hidden;
}
.header__wrapper .header__left-column .header__reviews .header__review {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__wrapper .header__left-column .header__reviews .header__review .header__review-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__wrapper .header__left-column .header__reviews .header__review .header__review-stars {
  display: flex;
  gap: 4px;
  width: 96px;
}
.header__wrapper .header__left-column .header__reviews .header__review .header__review-counts {
  font-family: var(--font4), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #334155;
  opacity: 0.7;
}
.header__wrapper .header__right-column {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.header__wrapper .header__right-column .header__hero-food {
  max-width: 449px;
  max-height: 456px;
  object-fit: contain;
  overflow: hidden;
}
.header__wrapper .header__right-column .header__spiral-arrow {
  position: absolute;
  z-index: -1;
  top: 23%;
  right: 6%;
  transform: translateY(-50%);
}
.header__wrapper .header__right-column .header__order-preview {
  max-width: 329px;
  max-height: 90px;
  position: absolute;
  top: -2%;
  right: 3px;
  transform: translateY(-50%);
  border-radius: 16px;
  box-shadow: -10px 12px 21px 0 rgba(0, 0, 0, 0.15);
  object-fit: contain;
}
.header__wrapper .header__right-column .header__hero-graph {
  max-width: 207px;
  max-height: 206px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 17px;
  box-shadow: 13px -17px 28px 0 rgba(0, 0, 0, 0.15);
  object-fit: contain;
}
.header__wrapper .header__right-column .header__illustration-01 {
  position: absolute;
  z-index: -1;
  top: -15%;
  right: -8%;
  transform: translateY(-50%);
}
.header__wrapper .header__right-column .header__illustration-02 {
  position: absolute;
  z-index: -1;
  bottom: -13%;
  left: -6%;
  transform: translateY(-50%);
}

/* Стили для секций */
/* Наши преимущества */
.features {
  background: url("../img/features_bg.svg") no-repeat;
  background-size: cover;
  padding: 48px 0;
}
.features .features__wrapper div:not(:last-child) {
  border-right: 1px solid rgba(197, 197, 197, 0.15);
}
.features .features__wrapper div .features__feature-title {
  font-family: var(--font4), sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.features .features__wrapper div .features__feature-text {
  font-family: var(--second-family), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: #c5bfed;
}

/* Скачать приложение */
.app-download__wrapper {
  padding: 120px 0;
  border-bottom: 1px solid #cbcbcb;
}
.app-download__wrapper .app-download__mockup .app-download__mobile-screen {
  position: relative;
  max-width: 304px;
  max-height: 609px;
  object-fit: contain;
}
.app-download__wrapper .app-download__mockup .app-download__mobile-screen::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 62px;
  background: url("../img/illustration_02.svg") no-repeat;
  position: absolute;
  top: -35px;
  right: -60px;
  transform: rotate(215deg) scale(1.2);
}
.app-download__wrapper .app-download__content .app-download__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 114%;
  text-transform: capitalize;
  color: #18181b;
  margin-bottom: 62px;
}
.app-download__wrapper .app-download__content .app-download__features {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;
}
.app-download__wrapper .app-download__content .app-download__features .app-download__feature {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #676767;
}
.app-download__wrapper .app-download__content .app-download__btn {
  position: relative;
  border-radius: 15px;
  height: 63px;
  padding-left: 26px;
  padding-right: 68px;
  background: #6c5fbc;
  border: none;
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.app-download__wrapper .app-download__content .app-download__btn::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/right_arrow.svg") no-repeat;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-45%);
  transition: transform 0.2s;
}
.app-download__wrapper .app-download__content .app-download__btn:hover::after {
  transform: translateX(8px) translateY(-45%);
}
.app-download__wrapper .app-download__content .app-download__btn::before {
  content: "";
  display: inline-block;
  width: 169px;
  height: 61px;
  background: url("../img/long_spiral.svg") no-repeat;
  position: absolute;
  z-index: -1;
  bottom: -80%;
  right: -85%;
}

/* Наши лучшие рестораны */
.our-restaurants__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 1px solid #cbcbcb;
}
.our-restaurants__wrapper .our-restaurants__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 57%;
  text-transform: capitalize;
  color: #323142;
  margin-bottom: 62px;
}
.our-restaurants__wrapper .our-restaurants__restaurant .card {
  max-width: 396px;
  border: none;
  border-radius: 30px;
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
  position: relative;
  cursor: pointer;
}
.our-restaurants__wrapper .our-restaurants__restaurant .card .card-img-top {
  border-radius: 30px 30px 0 0;
}
.our-restaurants__wrapper .our-restaurants__restaurant .card .card-body {
  padding: 11px 32px 18px;
}
.our-restaurants__wrapper .our-restaurants__restaurant .card .card-body h5 {
  font-family: var(--font-family), sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 162%;
  color: #323142;
  margin-bottom: 0;
}
.our-restaurants__wrapper .our-restaurants__restaurant .card .card-body .our-restaurants__restaurant-info {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 133%;
  color: #8e97a6;
}

/* Наши лучшие блюда */
.our-dishes__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 1px solid #cbcbcb;
}
.our-dishes__wrapper .our-dishes__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 57%;
  color: #323142;
  margin-bottom: 62px;
}
.our-dishes__wrapper .our-dishes__dish {
  display: flex;
  gap: 30px;
}
.our-dishes__wrapper .our-dishes__dish .card {
  max-width: 225px;
  padding: 37px 20px 26px;
  border: 2px solid #f4f4f4;
  border-radius: 30px;
  box-shadow: 7px 82px 41px 0 rgba(229, 229, 229, 0.7);
  position: relative;
  cursor: pointer;
}
.our-dishes__wrapper .our-dishes__dish .card .card-img-top {
  border-radius: 30px 30px 0 0;
}
.our-dishes__wrapper .our-dishes__dish .card .card-body {
  padding: 0;
}
.our-dishes__wrapper .our-dishes__dish .card .card-body h5 {
  font-family: var(--font-family), sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 162%;
  color: #323142;
  margin-bottom: 0;
}
.our-dishes__wrapper .our-dishes__dish .card .card-body .our-dishes__dish-info {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 133%;
  color: #8e97a6;
}

.purchases-control__wrapper {
  padding-top: 100px;
  padding-bottom: 130px;
  border-bottom: 1px solid #cbcbcb;
}
.purchases-control__wrapper .purchases-control__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 114%;
  text-transform: capitalize;
  color: #18181b;
}
.purchases-control__wrapper .purchases-control__first-image {
  max-width: 345px;
  max-height: 294px;
}
.purchases-control__wrapper .purchases-control__second-image {
  max-width: 543px;
  max-height: 466px;
  border-radius: 28px;
  box-shadow: 0 100px 100px -32px rgba(50, 49, 66, 0.2);
}

/*# sourceMappingURL=style.css.map */
