  .icons-purple-star {
    &::after {
      display: inline-block;
      content: "";
      vertical-align: -.125em;
      background-image: url("../icons/purple_star.svg");
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
    }
  }
