.food-filter__wrapper {
  padding-top: 180px;
  padding-bottom: 30px;

  /* Левая колонка, баннер, поиск */
  .food-filter__promo-banner {
    position: relative;
    padding: 40px 52px;
    border-radius: 19px;
    background: #6c5fbc url("../img/sale_bg.jpg");

    &::before {
      display: inline-block;
      content: "";
      width: 39px;
      height: 37px;
      background: url("../icons/illustration_02.svg") no-repeat;
      position: absolute;
      top: -12%;
      right: -6%;
      transform: rotate(195deg) scale(1.2);
    }
    &::after {
      display: inline-block;
      content: "";
      width: 234px;
      height: 236px;
      background: url("../img/swe_dish.png") no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -25%;
      right: 3%;
    }
    .promo-banner__title {
      font-weight: 900;
      font-size: 60px;
      color: #f7f8fa;
    }
  }
  .food-filter__search {
    position: relative;

    .form-floating {
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 35px;
        height: 35px;
        background: url("../icons/search.svg") no-repeat;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }
      .food-filter__search-input {
        position: relative;
        padding-left: 62px;
        padding-right: 16px;
        margin-bottom: 32px;
        border-radius: 19px;
        border-color: #ededed;
        background: #ededed;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 117%;
        color: #18181b;
        transition: .2s all;

        &:focus {
          border-color: #6c5fbc;
          box-shadow: 0 0 0 .25rem rgba(108, 95, 188, 0.25);
        }
      }
      .food-filter__search-input ~ label {
        padding-left: 70px;

        &::after {
          background: inherit;
        }
      }
    }
    .food-filter__buttons {
      & button:first-child {
        border-radius: 15px 0 0 15px;
        border-right: 1px;
      }
      .food-filter__btn {
        border: 2px solid #6c5fbc;
        margin: 0;
        padding: 20px 0;
        background: inherit;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #6c5fbc;
        transition: .2s all;

        &:hover {
          background: #6c5fbc;
          color: #f7f8fa;
        }
      }
      .food-filter__btn--active {
        background: #6c5fbc;
        color: #f7f8fa;
        transition: .2s all;

        &:hover {
          background: #5a4aa3;
        }
      }
      & button:last-child {
        border-radius: 0 15px 15px 0;
        border-left: 1px;
      }
    }
  }

  /* Правая колонка, фильтры */
  .food-filter__filter-panel {
    border-radius: 24px;
    padding: 32px;

    // Текстовые стили
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    color: #323142;

    // Стили титулов фильтров
    .filter-panel__category-title,
    .filter-panel__sort-title,
    .filter-panel__price-title {
      margin-bottom: 12px;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 21px;
      line-height: 135%;
      color: #323142;
    }
    // Отступы между фильтрами
    .filter-panel__category,
    .filter-panel__sort,
    .filter-panel__price {
      margin-bottom: 24px;
    }

    // Стили кнопок категорий
    .filter-panel__category-list {
      .filter-panel__category-item {
        position: relative;
        width: 100%;
        padding-top: 66px;
        padding-bottom: 12px;
        border: none;
        border-radius: 14px;
        background: rgba(255, 222, 138, 0.35);
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #d69900;
        transition: .2s transform;

        &::after {
          display: inline-block;
          content: "";
          width: 35px;
          height: 35px;
          background: url("../icons/pizza.svg") no-repeat;
          position: absolute;
          top: 35%;
          left: 0;
          right: 0;
          margin: 0 auto;
          transform: translateY(-50%);
        }
      }
      .filter-panel__category-item--active {
        position: relative;
        border: 1px solid #6c5fbc;
        box-shadow: var(--bs-box-shadow-sm);
        transform: scale(1.1);
      }
    }
    .filter-panel__sort-list {
      /* Каждый 2 элемент находится справа */
      .filter-panel__sort-item:nth-child(2) {
        display: flex;
        justify-content: right;
      }
      .filter-panel__sort-btn {
        background: inherit;
        border: none;
        font-family: var(--font-family), sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        line-height: 187%;
        color: #acadb9;

        &:hover {
          color: #6c5fbc;
        }
      }
      .filter-panel__sort-btn--active {
        color: #6c5fbc;
      }
    }
    .filter-panel__price {
      .filter-panel__price-slider {
        /* Сброс стандартных стилей */
        appearance: none;

        /* Стили ползунка */
        width: 100%;
        height: 8px;
        background: #6c5fbc;
        border-radius: 9px;
        outline: none;

        &::-webkit-slider-thumb {
          /* Сброс стандартных стилей */
          appearance: none;

          /* Стили ползунка */
          width: 20px;
          height: 21px;
          background: #6c5fbc;
          border-radius: 50%;
          box-shadow: 0 0 0 .25rem rgba(108, 95, 188, 0.25);
          cursor: pointer;
          transition: .2s all;
        }
        // Firefox
        &::-moz-range-thumb {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #6f42c1;
          cursor: pointer;
          border: 2px solid #ffffff;
        }
      }
      .filter-panel__price-range {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        color: #6c757d;
      }
    }
    .filter-panel__apply-btn {
      width: 100%;
      border: none;
      padding: 18px 0;
      border-radius: 14px;
      background: #6c5fbc;
      font-family: var(--font-family), sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: #fff3eb;

      &:hover {
        background: #5a4aa3;
        color: #f7f8fa;
      }
    }
  }
}

.faq__wrapper {
  padding-top: 200px;
  padding-bottom: 170px;

  .faq__title {
    font-weight: 800;
    // Отступ в 90px - 28 у заголовка вопроса
    margin-bottom: 62px;
    position: relative;

    &::after {
      display: inline-block;
      content: "";
      width: 39px;
      height: 37px;
      background: url("../icons/illustration_02.svg") no-repeat;
      position: absolute;
      top: -20%;
      right: 30%;
      transform: rotate(190deg) scale(1.2);
    }
  }

  .faq__question {
    margin-top: 28px;
    border-bottom: 2px solid #cbcbcb;

    .faq__question-header {
      .faq__header-btn {
        width: 100%;
        padding: 1rem .5rem;
        background: inherit;
        border: none;
        cursor: pointer;
        position: relative;

        font-family: var(--font-family), sans-serif;
        font-weight: 800;
        font-size: 24px;
        text-align: left;
        color: #323142;

        &::after {
          display: inline-block;
          content: "";
          width: 36px;
          height: 36px;
          background: #6c5fbc url("../icons/plus.svg") no-repeat center;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(0deg);
          transition: .3s transform;
        }
      }
    }

    .faq__question-body {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      font-family: var(--font-family), sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #686868;
      opacity: 0;
      transition: .3s max-height ease-in-out, .4s opacity ease-in-out, .4s padding ease;
    }

  }
  // Активный вопрос
  .faq__question--active {
    .faq__question-header {
      .faq__header-btn {
        &::after {
          transform: translateY(-50%) rotate(45deg);
          background-color: #5a4aa3;
        }
      }
    }
    .faq__question-body {
      max-height: 200px;
      padding: .25rem .5rem 2.5rem;
      opacity: 1;
    }
  }
}