.food-filter__wrapper {
  padding-top: 180px;
  padding-bottom: 30px;

  /* Левая колонка, баннер, поиск */
  .food-filter__promo-banner {
    position: relative;
    padding: 40px 52px;
    border-radius: 19px;
    background: var(--purple) url("../img/sale_bg.jpg");

    &::before {
      display: inline-block;
      content: "";
      width: 37px;
      height: 37px;
      background: url("../icons/illustration_02.svg") no-repeat;
      background-size: contain;
      position: absolute;
      top: -12%;
      right: -6%;
      transform: rotate(195deg) scale(1.2);
    }
    &::after {
      display: inline-block;
      content: "";
      width: 234px;
      height: 236px;
      background: url("../img/swe_dish.png") no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -25%;
      right: 3%;
    }
    .promo-banner__title {
      font-weight: 900;
      font-size: 60px;
      color: #f7f8fa;
    }
  }
  .food-filter__search {
    position: relative;

    .form-floating {
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 35px;
        height: 35px;
        background: url("../icons/search.svg") no-repeat;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }
      .food-filter__search-input {
        position: relative;
        padding-left: 62px;
        padding-right: 16px;
        margin-bottom: 32px;
        border-radius: 19px;
        border-color: #ededed;
        background: #ededed;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 117%;
        color: #18181b;
        transition: .2s all;
      }
      .food-filter__search-input ~ label {
        padding-left: 70px;

        &::after {
          background: inherit;
        }
      }
    }
    .food-filter__buttons {
      & input:first-of-type + label {
        border-radius: 15px 0 0 15px;
        border-right: 1px;
      }
      .food-filter__btn + label {
        border: 2px solid var(--purple);
        margin: 0;
        padding: 20px 0;
        background: inherit;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: var(--purple);
        transition: .2s all;
      }
      label:hover {
        background: var(--purple);
        color: #f7f8fa;
      }
      .food-filter__btn:checked + label {
        background: var(--purple);
        color: #f5f5f5;
      }
      .food-filter__btn:checked:hover + label {
        background: var(--purple-hover);
        color: #f7f8fa;
      }
      & input:last-of-type + label {
        border-radius: 0 15px 15px 0;
        border-left: 1px;
      }
    }
  }

  /* Правая колонка, фильтры */
  .food-filter__filter-panel {
    border-radius: 24px;
    padding: 32px;

    // Текстовые стили
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    color: #323142;

    // Стили титулов фильтров
    .filter-panel__category-title,
    .filter-panel__sort-title,
    .filter-panel__price-title {
      margin-bottom: 12px;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 21px;
      line-height: 135%;
      color: #323142;
    }
    // Отступы между фильтрами
    .filter-panel__category,
    .filter-panel__sort,
    .filter-panel__price {
      margin-bottom: 24px;
    }

    // Стили кнопок категорий
    .filter-panel__category-list {
      .filter-panel__category-item {
        position: relative;
        width: 100%;
        padding-top: 66px;
        padding-bottom: 12px;
        border: none;
        border-radius: 14px;
        background: rgba(255, 222, 138, 0.35);
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #d69900;
        transition: .2s transform;

        // 1 Элемент, родитель, пицца
        &::after {
          display: inline-block;
          content: "";
          width: 35px;
          height: 35px;
          background: url("../icons/pizza.svg") no-repeat;
          background-size: contain;
          position: absolute;
          top: 35%;
          right: 0;
          left: 0;
          margin: 0 auto;
          transform: translateY(-50%);
        }

        // Выбранный элемент
        &--active {
          position: relative;
          outline: 2px solid currentColor;
          box-shadow: var(--bs-box-shadow-sm);
          transform: scale(1.1);
        }
      }
      // 2 Элемент, Азиатская еда
      div:nth-child(2) .filter-panel__category-item {
        background: rgba(251, 71, 29, 0.35);
        color: #fb471d;

        &::after {
          width: 38px;
          height: 38px;
          background: url("../icons/hotdog.svg") no-repeat;
          background-size: contain;
        }
      }
      // 3 Элемент, Пончики
      div:nth-child(3) .filter-panel__category-item {
        background: rgba(237, 182, 107, 0.35);
        color: #edb66b;

        &::after {
          width: 36px;
          height: 36px;
          background: url("../icons/doughnut_ico.svg") no-repeat;
          background-size: contain;
        }
      }
      // 4 Элемент, Мороженное
      div:nth-child(4) .filter-panel__category-item {
        background: rgba(90, 133, 255, 0.35);
        color: #5a85ff;

        &::after {
          width: 22px;
          height: 40px;
          background: url("../icons/icecream.svg") no-repeat;
          background-size: contain;
        }
      }
    }

    .filter-panel__sort-list {
      /* Каждый 2 элемент находится справа */
      .filter-panel__sort-item {
        display: flex;
        align-items: start;

        &:nth-child(even) {
          justify-content: left;
        }
      }
      .filter-panel__sort-btn {
        appearance: none;

        &:hover {
          color: var(--purple);
        }

        & ~ label {
          background: inherit;
          border: none;
          font-family: var(--font-family), sans-serif;
          font-weight: 500;
          font-size: 15px;
          text-align: center;
          line-height: 187%;
          color: #acadb9;
        }

        &:checked ~ label {
          color: #f5f5f5;
          background: var(--purple);
        }
      }
    }
    .filter-panel__price {
      .filter-panel__price-slider {
        /* Сброс стандартных стилей */
        appearance: none;

        /* Стили ползунка */
        width: 100%;
        height: 8px;
        background: var(--purple);
        border-radius: 9px;
        outline: none;

        &::-webkit-slider-thumb {
          /* Сброс стандартных стилей */
          appearance: none;

          /* Стили ползунка */
          width: 20px;
          height: 21px;
          background: var(--purple);
          border-radius: 50%;
          box-shadow: 0 0 0 .25rem rgba(108, 95, 188, 0.25);
          cursor: pointer;
          transition: .2s all;
        }
        // Firefox
        &::-moz-range-thumb {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #6f42c1;
          cursor: pointer;
          border: 2px solid #ffffff;
        }
      }
      .filter-panel__price-range {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        color: #6c757d;
      }
    }
    .filter-panel__apply-btn {
      width: 100%;
      border: none;
      padding: 18px 0;
      border-radius: 14px;
      background: var(--purple);
      font-family: var(--font-family), sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: #fff3eb;

      &:hover {
        background: var(--purple-hover);
        color: #f7f8fa;
      }
    }
  }
}

.faq__wrapper {
  padding-top: 200px;

  .faq__title {
    font-weight: 800;
    // Отступ в 90px - 28 у заголовка вопроса
    margin-bottom: 62px;
    position: relative;

    &::after {
      display: inline-block;
      content: "";
      width: 39px;
      height: 37px;
      background: url("../icons/illustration_02.svg") no-repeat;
      position: absolute;
      top: -20%;
      right: 30%;
      transform: rotate(190deg) scale(1.2);
    }
  }

  .faq__question {
    margin-top: 28px;
    border-bottom: 2px solid #cbcbcb;

    .faq__question-header {
      .faq__header-btn {
        width: 100%;
        padding: 1rem .5rem;
        background: inherit;
        border: none;
        cursor: pointer;
        position: relative;

        font-family: var(--font-family), sans-serif;
        font-weight: 800;
        font-size: 24px;
        text-align: left;
        color: #323142;

        &::after {
          display: inline-block;
          content: "";
          width: 36px;
          height: 36px;
          background: var(--purple) url("../icons/plus.svg") no-repeat center;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(0deg);
          transition: .3s transform;
        }
      }
    }

    .faq__question-body {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      font-family: var(--font-family), sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #686868;
      opacity: 0;
      transition: .3s max-height ease-in-out, .4s opacity ease-in-out, .4s padding ease;
    }

  }
  // Активный вопрос
  .faq__question--active {
    .faq__question-header {
      .faq__header-btn {
        &::after {
          transform: translateY(-50%) rotate(45deg);
          background-color: var(--purple-hover);
        }
      }
    }
    .faq__question-body {
      max-height: 200px;
      padding: .25rem .5rem 2.5rem;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1199.98px) {
  // Планшеты в горизонтальной ориентации, Ipad Pro (>= 1024px)
  .food-filter__wrapper {
    /* Левая колонка, баннер, поиск */
    .food-filter__promo-banner {
      padding: 30px 42px;

      &::before {
        top: -17%;
        transform: rotate(195deg) scale(1);
      }
      &::after {
        width: 180px;
        height: 180px;
        right: -2%;
      }
      .promo-banner__title {
        font-size: 48px;
      }
    }

    /* Правая колонка, фильтры */
    .food-filter__filter-panel {
      padding: 20px;

      // Стили титулов фильтров
      .filter-panel__category-title,
      .filter-panel__sort-title,
      .filter-panel__price-title {
        font-size: 20px;
      }

      .filter-panel__category-list {
        .filter-panel__category-item {
          padding-top: 50px;
          padding-bottom: 8px;
          font-size: 16px;
        }
      }

      .filter-panel__sort-list {
        .filter-panel__sort-btn {
          font-size: 14px;
        }
      }
    }
  }

  .faq__wrapper {
    padding-top: 100px;

    .faq__title {
      margin-bottom: 30px;
      font-size: 35px;

      &::after {
        top: -30%;
        right: 28%;
        transform: rotate(180deg) scale(1);
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  // Планшеты в вертикальной ориентации (>= 768px)
  .food-filter__wrapper {
    /* Левая колонка, баннер, поиск */
    .food-filter__promo-banner {
      padding: 20px 20px 100px;

      &::before {
        top: -12%;
        right: -10%;
        transform: rotate(195deg) scale(0.9);
      }
      &::after {
        width: 150px;
        height: 150px;
        right: 50%;
        transform: translateX(50%);
      }
      .promo-banner__title {
        font-size: 42px;
      }
    }
    .food-filter__search {
      .food-filter__buttons {
        .food-filter__btn {
          font-size: 15px;
        }
      }
    }

    /* Правая колонка, фильтры */
    .food-filter__filter-panel {
      padding: 16px;

      // Стили титулов фильтров
      .filter-panel__category-title,
      .filter-panel__sort-title,
      .filter-panel__price-title {
        font-size: 18px;
      }

      // Сортировка по ...
      .filter-panel__sort-list {
        .filter-panel__sort-btn {
          font-size: 12px;
        }
      }

      // Ползунок цен
      .filter-panel__price {
        .filter-panel__price-range {
          font-size: 0.8rem;
        }
      }
    }
  }


  .faq__wrapper {
    padding-top: 80px;

    .faq__title {
      margin-bottom: 12px;
      font-size: 32px;

      &::after {
        top: -30%;
        right: 24%;
        transform: rotate(180deg) scale(0.8);
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  // Телефоны в горизонтальной ориентации (>= 576px)
  .food-filter__wrapper {
    padding-top: 130px;

    /* Левая колонка, баннер, поиск */
    .food-filter__promo-banner {
      padding: 32px 24px;
      margin-bottom: 50px;

      &::before {
        display: none;
      }
      &::after {
        right: 18%;
        bottom: -15%;
      }
      .promo-banner__title {
        font-size: 46px;
      }
    }
    .food-filter__search {
      .food-filter__buttons {
        margin-bottom: 30px;

        .food-filter__btn {
          font-size: 16px;
        }
      }
    }

    /* Правая колонка, фильтры */
    .food-filter__filter-panel {
      padding: 24px;

      // Стили титулов фильтров
      .filter-panel__category-title,
      .filter-panel__sort-title,
      .filter-panel__price-title {
        font-size: 24px;
      }

      // Стили кнопок категорий
      .filter-panel__category-list {
        .filter-panel__category-item {
          font-size: 18px;
        }
      }

      // Сортировка по ...
      .filter-panel__sort-list {
        .filter-panel__sort-btn {
          font-size: 18px;
        }
      }

      // Ползунок цен
      .filter-panel__price {
        .filter-panel__price-range {
          font-size: 1rem;
        }
      }

      .filter-panel__apply-btn {
        padding: 14px 0;
      }
    }
  }

  .faq__wrapper {
    padding-top: 70px;

    .faq__title {
      margin-bottom: 0;
      font-size: 36px;

      &::after {
        top: -30%;
        right: 11%;
        transform: rotate(180deg) scale(0.9);
      }
    }
    .faq__question {
      .faq__question-header {
        .faq__header-btn {
          font-size: 20px;

          &::after {
              width: 30px;
              height: 30px;
          }
        }
      }

      .faq__question-body {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 566.98px) {
  // Телефоны в вертикальной ориентации (< 567px)
  .food-filter__wrapper {
    padding-top: 100px;

    /* Левая колонка, баннер, поиск */
    .food-filter__promo-banner {
      padding: 20px 16px 100px;
      margin-bottom: 70px;

      &::after {
        right: 50%;
        bottom: -25%;
      }
      .promo-banner__title {
        font-size: 34px;
      }
    }
    .food-filter__search {
      .food-filter__buttons {
        margin-bottom: 20px;

        .food-filter__btn {
          font-size: 14px;
        }
      }
    }

    /* Правая колонка, фильтры */
    .food-filter__filter-panel {
      padding: 16px;

      // Стили титулов фильтров
      .filter-panel__category-title,
      .filter-panel__sort-title,
      .filter-panel__price-title {
        font-size: 20px;
      }

      // Стили кнопок категорий
      .filter-panel__category-list {
        .filter-panel__category-item {
          font-size: 14px;
        }
      }

      // Сортировка по ...
      .filter-panel__sort-list {
        .filter-panel__sort-btn {
          font-size: 15px;
        }
      }

      // Ползунок цен
      .filter-panel__price {
        .filter-panel__price-range {
          font-size: 0.8rem;
        }
      }

      .filter-panel__apply-btn {
        padding: 8px 0;
        font-size: 16px;
      }
    }
  }
  .faq__wrapper {
    padding-top: 50px;

    .faq__title {
      margin-bottom: 0;
      font-size: 30px;

      &::after {
        top: 65%;
        right: 13%;
        transform: rotate(245deg) scale(0.8);
      }
    }
    .faq__question {
      .faq__question-header {
        .faq__header-btn {
          font-size: 18px;
          padding: 1rem 2.5rem 1rem 0.5rem;

          &::after {
            width: 28px;
            height: 28px;
          }
        }
      }

      .faq__question-body {
        font-size: 16px;
      }
    }
  }
}