.food-filter__wrapper {
  padding-top: 250px;

  .food-filter__left-column {
    gap: 80px;
  }

  /* Левая колонка, баннер, поиск */
  .food-filter__promo-banner {
    position: relative;
    padding: 40px 52px;
    border-radius: 19px;
    background: #6c5fbc url("../img/sale_bg.jpg");

    &::before {
      display: inline-block;
      content: "";
      width: 39px;
      height: 37px;
      background: url("../icons/illustration_02.svg") no-repeat;
      position: absolute;
      top: -12%;
      right: -6%;
      transform: rotate(195deg) scale(1.2);
    }
    &::after {
      display: inline-block;
      content: "";
      width: 234px;
      height: 236px;
      background: url("../img/swe_dish.png") no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -25%;
      right: 3%;
    }
    .promo-banner__title {
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 60px;
      color: #f7f8fa;
    }
  }
  .food-filter__search {
    position: relative;

    .form-floating {
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 35px;
        height: 35px;
        background: url("../icons/search.svg") no-repeat;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }
      .food-filter__search-input {
        position: relative;
        padding-left: 62px;
        padding-right: 16px;
        margin-bottom: 32px;
        border-radius: 19px;
        border-color: #ededed;
        background: #ededed;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 117%;
        color: #18181b;
        transition: .2s all;

        &:focus {
          border-color: #6c5fbc;
          box-shadow: 0 0 0 .25rem rgba(108, 95, 188, 0.25);
        }
      }
      .food-filter__search-input ~ label {
        padding-left: 70px;

        &::after {
          background: inherit;
        }
      }
    }
    .food-filter__buttons {
      & button:first-child {
        border-radius: 15px 0 0 15px;
        border-right: 1px;
      }
      .food-filter__btn {
        border: 2px solid #6c5fbc;
        margin: 0;
        padding: 20px 0;
        background: inherit;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #6c5fbc;
      }
      .food-filter__btn--active {
        background: #6c5fbc;
        color: #f7f8fa;
      }
      & button:last-child {
        border-radius: 0 15px 15px 0;
        border-left: 1px;
      }
    }
  }

  /* Правая колонка, фильтры */
  .food-filter__filter-panel {
    padding: 32px;

    // Текстовые стили
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    color: #323142;

    // Стили титулов фильтров
    .filter-panel__category-title,
    .filter-panel__sort-title,
    .filter-panel__price-title {
      margin-bottom: 16px;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 21px;
      line-height: 135%;
      color: #323142;
    }
    // Отступы между фильтрами
    .filter-panel__category,
    .filter-panel__sort,
    .filter-panel__price {
      margin-bottom: 30px;
    }

    // Стили кнопок категорий
    .filter-panel__category-list {
      .filter-panel__category-item {
        position: relative;
        width: 100%;
        padding-top: 66px;
        padding-bottom: 12px;
        border: none;
        border-radius: 14px;
        background: rgba(255, 222, 138, 0.35);
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #d69900;
        transition: .3s all;

        &::after {
          display: inline-block;
          content: "";
          width: 35px;
          height: 35px;
          background: url("../icons/pizza.svg") no-repeat;
          position: absolute;
          top: 35%;
          left: 0;
          right: 0;
          margin: 0 auto;
          transform: translateY(-50%);
        }
      }
      .filter-panel__category-item--active {
        position: relative;
        border: 6px solid rgba(251, 71, 29, 0.5);
        transform: scale(1.1) translateY(-5px);
      }
    }
  }
}