@import 'fonts';

:root {
  --font-family: "Manrope";
  --second-family: "Inter";
  --font4: "Public Sans", sans-serif;
  --font6: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-family: var(--second-family), sans-serif;
}

/* Базовые стили */
.text-purple {
  color: #6c5fbc;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #cbcbcb;

  .nav__left-side {
    display: flex;
    gap: 72px;

    .nav__logo {
      position: relative;
      padding-left: 55px;
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 130%;
      color: #6c5fbc;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 46px;
        height: 46px; /* Добавлено свойство height */
        background: url("../../icon.svg") no-repeat;
        position: absolute;
        top: 50%;
        right: 75px;
        transform: translateY(-45%);
      }
    }

    .nav__menu {
      display: flex;
      list-style-type: none;
      margin: 0;
      gap: 38px;

      .menu__item {
        font-family: var(--second-family), sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #606060;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }

  .nav__right-side {
    display: flex;
    gap: 12px;

    .nav__login {
      font-family: var(--second-family), sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: #606060;
      background-color: inherit;
      border: none;
      border-radius: 17px;
      padding: 17px 26px;
      cursor: pointer;
      transition: background-color .2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    .nav__sign-up {
        font-family: var(--second-family), sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #f9f9f9;
        background: #6c5fbc;;
        border: none;
        border-radius: 17px;
        padding: 17px 26px;
        cursor: pointer;
        transition: background .2s;

        &:hover {
            background: #5a4aa3;
        }
    }
  }
}

.header__content {
  display: flex;
  padding-top: 120px;
  padding-bottom: 130px;

  .header__left-side {
    .header__hero-text {
      padding-left: 76px;
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: rgba(32, 31, 31, 0.2);
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 54px;
        height: 0;
        border: 1px solid rgba(32, 31, 31, 0.2);
        margin-right: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    .header__title {
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 60px;
      line-height: 120%;
      text-transform: capitalize;
      color: #201f1f;
    }
    .header__subtitle {
      font-family: var(--second-family), sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: #676767;
      opacity: 0.7;

      margin-bottom: 54px;
    }
    .header__buttons {
      display: flex;
      gap: 18px;

      .header__btn--primary {
        border-radius: 12px;
        height: 59px;
        padding: 0 28px;
        background: #6c5fbc;
        border: none;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #fff;
        transition: background .3s;

        &:hover {
          background: #5a4aa3;
        }
      }
      .header__btn--secondary {
        border-radius: 12px;
        height: 59px;
        padding: 0 28px;
        background: inherit;
        border: 1.50px solid #6c5fbc;
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #6c5fbc;
        transition: background .3s;

        &:hover {
          background: #6c5fbc;
          color: #fff;
        }
      }
    }
    .header__reviews {
      display: flex;
      gap: 12px;
      margin-top: 54px;
      width: 350px;
      overflow: hidden;

      .header__review {
        display: flex;
        align-items: center;
        gap: 20px;

        .header__review-logo {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .header__review-stars {
          display: flex;
          gap: 4px;
          width: 96px;
        }
        .header__review-counts {
          font-family: var(--font4), sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #334155;
          opacity: 0.7;
        }
      }
    }
  }
  .header__right-side {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    .header__hero-food {
      max-width: 449px;
      max-height: 456px;
      object-fit: contain;
      overflow: hidden;
    }
    .header__spiral-arrow {
      position: absolute;
      z-index: -1;
      top: 23%;
      right: 6%;
      transform: translateY(-50%);
    }
    .header__order-preview {
      max-width: 329px;
      max-height: 90px;
      position: absolute;
      top: -2%;
      right: 3px;
      transform: translateY(-50%);
      border-radius: 16px;
      box-shadow: -10px 12px 21px 0 rgba(0, 0, 0, 0.15);
      object-fit: contain;
    }
    .header__hero-graph {
      max-width: 207px;
      max-height: 206px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 17px;
      box-shadow: 13px -17px 28px 0 rgba(0, 0, 0, 0.15);
      object-fit: contain;
    }
    .header__illustration-01 {
      position: absolute;
      z-index: -1;
      top: -15%;
      right: -8%;
      transform: translateY(-50%);
    }
    .header__illustration-02 {
      position: absolute;
      z-index: -1;
      bottom: -13%;
      left: -6%;
      transform: translateY(-50%);
    }
  }
}

.features {
  background: url("../img/features_bg.svg") no-repeat;
  background-size: cover;
  padding: 48px 0;

  .container-sm .features__list div {
    .features__feature-title {
      font-family: var(--font4), sans-serif;
      font-weight: 700;
      font-size: 43px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
    .features__feature-text {
      font-family: var(--second-family), sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      text-transform: capitalize;
      color: #c5bfed;
    }
  }
}
