@import 'fonts';
@import "navbar_style";
@import "footer_style";
@import "menu_styles";
@import "restaurant_pages_style";
@import "contact_us_style";
@import "auth";

:root {
  --font-family: "Manrope";
  --second-family: "Inter";
  --font4: "Public Sans", sans-serif;
  --font5: "Quicksand", sans-serif;
  --font6: "Plus Jakarta Sans", sans-serif;
  --purple: #6c5fbc;
  --purple-hover: #5a4aa3;
}

/* Базовые стили */
html {
  font-family: var(--second-family), sans-serif;
}
/* Прикрепляем футер снизу */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Главное занимает всю доступную высоту */
main {
  flex: 1 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-transform: capitalize;
  color: #323142;
}

.card {
  border: none;
  border-radius: 30px;
  cursor: pointer;

  .card-img-top {
    border-radius: 30px 30px 0 0;
  }

  .card-body {
    padding: 0.75rem 2rem 1rem;

    h5 {
      font-family: var(--font-family), sans-serif;
      font-weight: 800;
      font-size: 25px;
      line-height: 162%;
      color: #323142;
      margin-bottom: 0;
    }
  }
}

.form-control {
  transition: .2s all;

  &:focus {
    border: 1px solid var(--purple-hover) !important;
    box-shadow: 0 0 0 .25rem rgba(108, 95, 188, 0.25) !important;
  }
}

/* Базовые классы */
.mt-6, m-6 {
  margin-top: 5rem;
}
.mb-6, m-6 {
  margin-bottom: 5rem;
}


.menu {
  .menu__item {
    font-family: var(--second-family), sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .menu__item--active {
    color: var(--purple);
  }
}
.highlight--purple {
  color: var(--purple);
}
.text-muted {
  color: #7c6fcd !important;
}
.price--cents {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 156%;
  color: #8e97a6;
}

.badge {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 6px 8px;
}
.badge.badge-healthy {
  color: #daa31a;
  background: #f7edd0;
}
.badge.badge-trending {
  color: #fb471d;
  background: #f7c5ba;
}
.badge.badge-supreme {
  color: #309d5b;
  background-color: rgba(51, 172, 100, 0.2);
}

/* Разновидности классов кнопок */
.btn {
  border-radius: 12px;
  border: none;
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  transition: .3s all;
}
.btn-primary {
  color: #fff;
  background: var(--purple);

  &:hover {
    background: var(--purple-hover);
  }
}
.btn-secondary {
  color: #6c5fbc;
  background: inherit;
  border: 1.50px solid var(--purple);

  &:hover {
    background: var(--purple);
    color: #fff;
  }
}

.input-hint {
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6c5fbc;
}

/* Добавить ресторан в избранное */
.restaurant-bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 16px;
  right: 24px;
  border: none;
  border-radius: 50%;
  background-color: #dbd9ee;
  transition: background-color .2s;

  &::after {
  display: inline-block;
  content: "";
  max-width: 16px;
  max-height: 21px;
  background: url("../icons/bookmark.svg") no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  }
  &:hover {
    background-color: var(--purple);
    &::after {
      background: url("../icons/bookmark_white.svg") no-repeat;
      background-size: cover;
    }
  }
}
/* Добавить блюдо в любимое */
.dish-favorite {
  position: absolute;
  top: 14px;
  right: 12px;
  border: none;
  border-radius: 50%;
  background: inherit;
  width: 40px;
  height: 40px;
  transition: background-color .2s;

  &::after {
    display: inline-block;
    content: "";
    max-width: 22px;
    max-height: 19px;
    background: url("../icons/heart.svg") no-repeat;
    background-size: contain;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  &:hover {
    background-color: #f7c5ba;
  }
}

/* Добавить блюдо в корзину */
.add-to-cart {
  position: absolute;
  bottom: 26px;
  right: 24px;
  border: none;
  border-radius: 9px;
  background-color: #323142;
  width: 44px;
  height: 40px;
  transition: background-color .2s;

  &::after {
    display: inline-block;
    content: "";
    max-width: 16px;
    max-height: 16px;
    background: url("../icons/plus.svg") no-repeat;
    background-size: contain;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  &:hover {
    background-color: var(--purple);
  }
}

.view-all {
  position: relative;
  z-index: 1; /* Чтобы тень не перекрывала текст */
  margin-top: 65px;
  padding-right: 40px;
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 226%;
  letter-spacing: -0.01em;
  color: #acadb9;

  &::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: url("../icons/gray_right_arrow.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform .2s;
  }
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    &::after {
      transform: translateX(8px) translateY(-50%);
    }
  }
}

/* Фиолетовый скроллбар */
.purple-scrollbar {
  --sb-track-color: rgba(108, 95, 188, 0.2);
  --sb-thumb-color: var(--purple);
  --sb-size: 11px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size)
  }
  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
  }
}
@supports not selector(::-webkit-scrollbar) {
  .purple-scrollbar {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }
}

.hero__wrapper {
  padding-top: 250px;
  padding-bottom: 130px;

  .hero__left-column {
    .hero__text {
      padding-left: 76px;
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: rgba(32, 31, 31, 0.2);
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 54px;
        height: 0;
        border: 1px solid rgba(32, 31, 31, 0.2);
        margin-right: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    .hero__title {
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 60px;
      color: #201f1f;
    }
    .hero__subtitle {
      font-family: var(--second-family), sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: #676767;
      opacity: 0.7;

      margin-bottom: 54px;
    }
    .hero__buttons {
      display: flex;
      gap: 18px;

      .hero__btn {
        padding: 1rem 28px;
      }
    }
    .hero__reviews {
      display: flex;
      gap: 12px;
      margin-top: 54px;
      width: 350px;
      overflow: hidden;

      .hero__review {
        display: flex;
        align-items: center;
        gap: 20px;

        .hero__review-logo {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .hero__review-stars {
          display: flex;
          gap: 4px;
          width: 96px;
        }
        .hero__review-counts {
          font-family: var(--font6), sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #334155;
          opacity: 0.7;
        }
      }
    }
  }
  .hero__right-column {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    .hero__food-img {
      position: relative;

      img {
        width: 449px;
        height: 456px;
        object-fit: contain;
      }

      &::after {
        display: inline-block;
        content: "";
        width: 101px;
        height: 98px;
        position: absolute;
        background: url("../icons/spiral_arrow.svg") no-repeat;
        background-size: contain;
        z-index: -1;
        top: 23%;
        right: -10%;
        transform: translateY(-50%);
      }
    }

    .hero__order-preview {
      position: absolute;
      top: -2%;
      right: 3px;
      transform: translateY(-50%);

      img {
        width: 329px;
        height: 90px;
        border-radius: 16px;
        box-shadow: -10px 12px 21px 0 rgba(0, 0, 0, 0.15);
        object-fit: contain;
      }
      &::after {
        display: inline-block;
        content: "";
        width: 42px;
        height: 28px;
        background: url("../icons/illustration_01.svg") no-repeat;
        background-size: contain;
        position: absolute;
        top: -15%;
        right: -14%;
        transform: translateY(-50%);
      }
    }
    .hero__graph {
      position: absolute;
      bottom: 0;
      left: 0;

      img {
        width: 207px;
        height: 206px;
        border-radius: 17px;
        box-shadow: 13px -17px 28px 0 rgba(0, 0, 0, 0.15);
        object-fit: contain;
      }

      &::before {
        display: inline-block;
        width: 39px;
        height: 37px;
        content: "";
        position: absolute;
        background: url("../icons/illustration_02.svg") no-repeat;
        background-size: contain;
        z-index: -1;
        bottom: -25%;
        left: -20%;
        transform: translateY(-50%);
      }
    }
  }
}

/* Стили для секций */
/* Наши преимущества */
.features {
  background: url("../img/features_bg.svg") no-repeat;
  background-size: cover;
  padding: 48px 0;

  .features__feature {
    &:not(:last-child) {
      border-right: 1px solid rgba(197, 197, 197, 0.15);
    }

    .features__feature-title {
      font-family: var(--font4), sans-serif;
      font-weight: 700;
      font-size: 43px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
    .features__feature-text {
      font-family: var(--second-family), sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      text-transform: capitalize;
      color: #c5bfed;
    }
  }
}

/* Скачать приложение */
.app-download__wrapper {
  padding: 120px 0;
  border-bottom: 2px solid #cbcbcb;

  .app-download__mockup {
    .app-download__mobile-screen {
      position: relative;
      max-width: 304px;
      max-height: 609px;
      object-fit: contain;

      &::after {
        display: inline-block;
        content: "";
        width: 52px;
        height: 62px;
        background: url("../icons/illustration_02.svg") no-repeat;
        position: absolute;
        top: -35px;
        right: -60px;
        transform: rotate(215deg) scale(1.2);
      }
    }
  }
  .app-download__content {
    .app-download__title {
      font-family: var(--font-family), sans-serif;
      font-weight: 900;
      font-size: 50px;
      color: #18181b;
      margin-bottom: 62px;
    }
    .app-download__features {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-bottom: 60px;

      .app-download__feature {
        font-family: var(--second-family), sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #676767;

        p {
          margin-bottom: 0;
        }
      }
    }
    .app-download__btn {
      position: relative;
      border-radius: 15px;
      padding: 1.25rem 68px 1.25rem 26px;
      background: var(--purple);
      border: none;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 125%;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      transition: background .3s;

      &::after {
        display: inline-block;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../icons/right_arrow.svg") no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-45%);
        transition: transform .2s;
      }
      &::before {
        display: inline-block;
        content: "";
        width: 169px;
        height: 61px;
        background: url("../img/long_spiral.svg") no-repeat;
        background-size: contain;
        position: absolute;
        z-index: -1;
        bottom: -80%;
        right: -85%;
      }
      &:hover {
        background: var(--purple-hover);
      }
      &:hover::after {
        transform: translateX(8px) translateY(-45%);
      }
    }
  }
}

/* Наши лучшие рестораны */
.our-restaurants__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 2px solid #cbcbcb;

  .our-restaurants__title {
    color: #323142;
    margin-bottom: 62px;
  }
  .our-restaurants__restaurant {
    .card {
      max-width: 396px;
      box-shadow: 6px 71px 36px rgba(229, 229, 229, 0.7);
      transition: transform .3s ease;
      position: relative;

      &:hover {
        transform: translateY(-10px);
      }

      .our-restaurants__restaurant-info {
        font-family: var(--font-family), sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 133%;
        color: #8e97a6;
      }
    }
  }
}

/* Наши лучшие блюда */
.our-dishes__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 2px solid #cbcbcb;

  .our-dishes__title {
    color: #323142;
    margin-bottom: 62px;
  }

  .our-dishes__dishes-wrapper {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .our-dishes__dish {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 225px;
    padding: 37px 20px 26px;
    border: 2px solid #f4f4f4;
    border-radius: 30px;
    box-shadow: 7px 82px 41px 0 rgba(229, 229, 229, 0.7);
    position: relative;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    .card-img-top {
      border-radius: 30px 30px 0 0;
    }

    .card-body {
      padding: 0;

      .our-dishes__dish-info {
        font-family: var(--font-family), sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 133%;
        color: #8e97a6;
      }
    }
  }
}

/* Управление покупками */
.purchases-control__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 2px solid #cbcbcb;

  .purchases-control__title {
    font-weight: 900;
    font-size: 50px;
    color: #18181b;
  }
  .purchases-control__first-image {
    max-width: 345px;
    max-height: 294px;
  }
  .purchases-control__second-image {
    max-width: 543px;
    max-height: 466px;
    border-radius: 28px;
    box-shadow: 0 100px 100px -32px rgba(50, 49, 66, 0.2);
  }
}

/* Отзывы клиентов */
.reviews__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;

  /* Карусель со слайдером */
  .reviews__inner {
    display: flex;
    gap: 48px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 30px;
  }

  /* Титул */
  .reviews__title {
    font-weight: 800;
    margin-bottom: 80px;
  }
  /* Карточки карусели */
  .reviews__item {
    min-width: 530px;
    padding: 38px 43px;
    border: 2px solid rgba(108, 95, 188, 0.2);
    border-radius: 14px;
    scroll-snap-align: start;

    .reviews__header {
      margin-bottom: 20px;

      img {
        width: 71px;
        height: 71px;
        border-radius: 50%;
        object-fit: cover;
      }
      .reviews__info {
        margin-left: 20px;
      }
      .reviews__author {
        font-family: var(--font-family), sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #030314;
      }
      .review__slogan {
        font-family: var(--font5), sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 156%;
        text-transform: capitalize;
        color: #5e5d5d;
      }
    }

    .reviews__text {
      font-family: var(--font-family), sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;
      color: #636363;
    }
  }
}

/* Секция с купоном */
.sale {
  padding-top: 100px;
}
.sale__wrapper {
  width: 100%;
  height: 280px;
  padding: 40px 65px;
  border-radius: 30px;
  background: var(--purple) url("../img/sale_bg.jpg");
  background-size: cover;
  position: relative;

  &::after {
    display: inline-block;
    content: "";
    width: 274px;
    height: 276px;
    background: url("../img/swe_dish.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -25%;
    right: 5%;
  }
  .sale__title {
    font-weight: 900;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
  }
  /* Стили текста для формы */
  .sale__form {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    color: #878787;
    opacity: 0.8;

    .form-floating {
      position: relative;
    }
    .sale__email-input {
      border-radius: 14px;
      height: 68px;
      padding-right: 180px;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #323142;
      background-color: #fff;
    }
    .subscribe__btn {
      position: absolute;
      top: 0; right: 8px; bottom: 0;
      margin: auto;
      border-radius: 11px;
      height: 53px;
      padding: 0 24px;
      background: var(--purple);
      border: none;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 125%;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      transition: background .3s;

      &:hover {
        background: var(--purple-hover);
      }
    }
  }
}

/* Адаптивность главной страницы */
@media screen and (max-width: 1199.98px) {
  // Планшеты в горизонтальной ориентации, Ipad Pro
  h2 {
    font-size: 45px;
  }
  .card {
    .card-body {
      padding: 0.5rem 1.5rem 1rem;

      h5 {
        font-size: 24px;
      }
    }
  }
  .badge {
    padding: 4px 6px;
    font-size: 12px;
  }
  .restaurant-bookmark {
    width: 36px;
    height: 36px;
    right: 18px;
    bottom: 14px;

    &::after {
      width: 15px;
      height: 19px;
    }
  }
  .view-all {
    font-size: 20px;
    padding-right: 32px;

    &::after {
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
  .price--cents {
    font-size: 18px;
  }
  .dish-favorite {
    top: 12px;
    width: 24px;
    height: 24px;

    &::after {
      width: 16px;
      height: 13px;
    }
  }
  .add-to-cart {
    width: 36px;
    height: 32px;
    bottom: 20px;
    right: 16px;

    &::after {
      width: 14px;
      height: 14px;
    }
  }

  .hero__wrapper {
    padding-top: 200px;
    padding-bottom: 100px;

    .hero__left-column {
      .hero__text {
        padding-left: 52px;
        margin-bottom: 12px;

        font-size: 15px;

        &::before {
          width: 42px;
        }
      }
      .hero__title {
        font-size: 60px;
      }
      .hero__subtitle {
        font-size: 18px;
        margin-bottom: 48px;
      }
      .hero__buttons {
        gap: 20px;

        .hero__btn {
          font-size: 18px;
          padding: 0.75rem 1.5rem;
        }
      }

      .hero__reviews {
        .hero__review {
          gap: 16px;

          .hero__review-logo {
            width: 123px;
            height: 31px;
          }
          .hero__review-stars {
            img {
              width: 17px;
              height: 16px;
            }
          }
        }
      }
    }

    .hero__right-column {
      .hero__food-img {
        img {
          max-width: 305px;
          max-height: 315px;
        }
        &::after {
          width: 72px;
          height: 69px;
          top: 15%;
          right: -12%;
        }
      }
      .hero__order-preview {
        top: -10%;
        right: 55%;
        transform: translateX(-50%);

        img {
          width: 234px;
          height: 64px;
          position: absolute;
        }
        &::after {
          display: none;
        }
      }
      .hero__graph {
        bottom: 25%;
        left: 10%;

        img {
          width: 148px;
          height: 146px;
        }

        &::before {
          width: 27px;
          height: 23px;
          bottom: -17%;
          left: -12%;
        }
      }
    }
  }

  .features {
    padding: 55px 0;

    .features__feature {
      .features__feature-title {
        font-size: 43px;
      }
      .features__feature-text {
        font-size: 14px;
      }
    }
  }

  .app-download__wrapper {
    padding-top: 80px;
    padding-bottom: 86px;

    .app-download__mockup {
      .app-download__mobile-screen {
        max-width: 216px;
        max-height: 433px;

        &::after {
          width: 40px;
          height: 45px;
          top: -30px;
          right: -50px;
        }
      }
    }

    .app-download__content {
      .app-download__title {
        font-size: 38px;
        margin-bottom: 48px;
      }
      .app-download__features {
        gap: 24px;

        .app-download__feature {
          font-size: 18px;
        }
      }
      .app-download__btn {
        padding: 1rem 3rem 1rem 1.5rem;
        font-size: 18px;

        &::after {
          width: 24px;
          height: 24px;
          right: 14px;
        }
        &::before {
          width: 110px;
          height: 44px;
          bottom: -60%;
          right: -60%;
          transform: rotate(-5deg);
        }
      }
    }
  }

  .our-restaurants__wrapper {
    padding-top: 80px;
    padding-bottom: 86px;

    .our-restaurants__title {
      margin-top: 0;
      margin-bottom: 40px;
    }
    .our-restaurants__restaurant {
      .card {
        .our-restaurants__restaurant-info {
          font-size: 18px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .our-dishes__wrapper {
    padding-top: 80px;
    padding-bottom: 86px;

    .our-dishes__title {
      margin-top: 0;
      margin-bottom: 40px;
    }
    .our-dishes__dishes-wrapper {
      gap: 22px;
    }
    .our-dishes__dish {
      width: 175px;
      padding: 1rem;

      h5 {
        font-size: 22px;
      }
      .card-body {
        .our-dishes__dish-info {
          font-size: 16px;

          img {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  .purchases-control__wrapper {
    padding-top: 80px;
    padding-bottom: 86px;

    .purchases-control__title {
      font-size: 44px;
    }
    .purchases-control__first-image {
      max-width: 246px;
      max-height: 210px;
    }

    .purchases-control__second-image {
      max-width: 380px;
      max-height: 332px;
    }
  }

  .reviews__wrapper {
    padding-top: 80px;
    padding-bottom: 86px;

    .reviews__title {
      font-size: 44px;
      margin-bottom: 54px;
    }
    .reviews__item {
      min-width: 400px;
      padding: 20px 24px;

      .reviews__header {
        margin-bottom: 16px;

        img {
          width: 60px;
          height: 60px;
        }
        .reviews__info {
          margin-left: 12px;
        }
        .reviews__author {
          font-size: 18px;
        }
        .review__slogan {
          font-size: 15px;
          margin-bottom: 0;
        }
      }

      .reviews__text {
        font-size: 18px;
      }
    }
  }
  .sale {
    padding-top: 80px;

    .sale__wrapper {
      padding: 2rem 3rem;
      height: 200px;

      &::after {
        width: 195px;
        height: 196px;
      }
      .sale__title {
        font-size: 48px;
        margin-bottom: 24px;
      }
      .sale__email-input {
        height: 48px;
      }
      .sale__form {
        .subscribe__btn {
          height: 38px;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  // Планшеты в вертикальной ориентации
  h2 {
    font-size: 40px;
  }
  .card {
    .card-body {
      padding: 0.5rem 1.5rem 0.75rem;

      h5 {
        font-size: 18px;
      }
    }
  }
  .dish-favorite {
    top: 12px;
    width: 35px;
    height: 35px;

    &::after {
      width: 23px;
      height: 19px;
    }
  }

  .hero__wrapper {
    padding-top: 180px;
    padding-bottom: 90px;

    .hero__left-column {
      .hero__text {
        font-size: 14px;

        &::before {
          width: 36px;
        }
      }
      .hero__title {
        font-size: 42px;
      }
      .hero__subtitle {
        font-size: 18px;
      }
      .hero__buttons {
        .hero__btn {
          font-size: 16px;
          padding: 0.75rem 1.25rem;
        }
      }

      .hero__reviews {
        margin-top: 36px;
      }
    }

    .hero__right-column {
      .hero__food-img {
        img {
          max-width: 220px;
          max-height: 221px;
        }
        &::after {
          width: 72px;
          height: 69px;
          top: 15%;
          right: -14%;
        }
      }
      .hero__order-preview {
        top: -8%;
        right: 53%;

        img {
          width: 163px;
          height: 45px;
        }
      }
      .hero__graph {
        bottom: 45%;
        left: 8%;

        img {
          width: 104px;
          height: 103px;
        }

        &::before {
          width: 19px;
          height: 15px;
          bottom: -17%;
          left: -12%;
        }
      }
    }
  }

  .features {
    // TODO: Сделать так чтобы блок был на всю доступную высоту обертки

    .features__feature {
      .features__feature-title {
        font-size: 40px;
      }
      .features__feature-text {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }

  .app-download__wrapper {
    padding-top: 70px;
    padding-bottom: 76px;

    .app-download__mockup {
      .app-download__mobile-screen {
        max-width: 304px;
        max-height: 609px;

        &::after {
          width: 40px;
          height: 45px;
          top: -30px;
          right: -50px;
        }
      }
    }

    .app-download__content {
      .app-download__title {
        font-size: 45px;
        margin-bottom: 48px;
        text-align: center;
      }
      .app-download__features {
        gap: 8px;
        margin-bottom: 24px;

        .app-download__feature {
          font-size: 20px;
        }
      }
      .app-download__btn {
        align-self: center;
        margin-bottom: 4rem;
        padding: 1.25rem 3.5rem 1.25rem 1.75rem;
        font-size: 18px;

        &::after {
          width: 28px;
          height: 28px;
          right: 14px;
        }
        &::before {
          width: 140px;
          height: 52px;
          bottom: -15%;
          right: -85%;
          transform: rotate(340deg);
        }
      }
    }
  }

  // TODO: Добавить скролл как с едой
  .our-restaurants__wrapper {
    padding-top: 70px;
    padding-bottom: 76px;

    .our-restaurants__title {
      margin-top: 0;
      margin-bottom: 40px;
    }
    .our-restaurants__restaurant {
      .card {
        .our-restaurants__restaurant-info {
          font-size: 12px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .our-dishes__wrapper {
    padding-top: 70px;
    padding-bottom: 76px;

    .our-dishes__dish {
      width: 200px;
      padding: 1rem;

      h5 {
        font-size: 24px;
      }
      .card-body {
        .our-dishes__dish-info {
          font-size: 18px;

          img {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  .purchases-control__wrapper {
    padding-top: 70px;
    padding-bottom: 76px;

    .purchases-control__title {
      font-size: 45px;
    }
    .purchases-control__first-image {
      max-width: 172px;
      max-height: 147px;
      margin: 0 auto;
    }

    .purchases-control__second-image {
      max-width: 266px;
      max-height: 225px;
      margin: 0 auto;
    }
  }

  .reviews__wrapper {
    .reviews__title {
      font-size: 40px;
    }
  }

  .sale {
    padding-top: 70px;

    .sale__wrapper {
      padding: 1.5rem 2.75rem;
      height: 200px;

      &::after {
        width: 195px;
        height: 196px;
      }
      .sale__title {
        font-size: 48px;
        margin-bottom: 24px;
      }
      .sale__email-input {
        height: 48px;
      }
      .sale__form {
        .subscribe__btn {
          height: 38px;
          font-size: 10px;
        }
      }
    }
  }
}